<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app id="service">

    <display-name>dcs:w-ctrac</display-name>
    <description>CelltracGTS/Server</description>

    <!-- ====================================================================== -->

    <listener>
        <listener-class>org.opengts.war.tools.RTConfigContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>PrivateLabelLoader.skipTag_WebPages</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>PrivateLabelLoader.skipTag_MapProvider</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- ====================================================================== -->

    <servlet>
        <servlet-name>CTRAC</servlet-name>
        <servlet-class>org.opengts.opt.war.ctrac.Data</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CTRAC</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- ====================================================================== -->

</web-app>
